.clonal-mutation {
  color: #3182BD;
  font-weight: bold;
}
.subclonal-mutation {
  color: #DE2D26;
  font-weight: bold;
}
.unknown-status {
  color: #000000;
  font-weight: bold;
}
.na {
  color: #000000;
  font-weight: bold;
}